# Dependency directories
/node_modules
/frontend/node_modules
/backend/node_modules

# Build directories
/build
/frontend/build
/backend/build
/dist
/frontend/dist
/backend/dist
/frontend/.env
/backend/.env


*.log




Thumbs.db
